<bx:template name='uploader'>
  <label bx:attrs='for, data-button-title' data-button-title="${button_title}" data-file-appearance="" class="bx--file__label" for="${id}" bx:value='label'></label>
  <input bx:attrs='id, name, multiple' data-file-uploader="" data-multiple-caption="{count} files selected" data-label="[data-file-appearance]" class="bx--file__input" type="file" multiple="${multiple}" />
</bx:template>

